h1 {
  text-align: center;
  font-family: sans-serif;
  color: blue;
}

h2 {
  text-align: center;
  color: blueviolet;
}

.box-style {
  margin:  14 px
  border   4px grey;
  padding: 6px;
  background-color: pink;
}

.box1 {
  width: 50%;
  border: solid teal;
  border-width: 5px;
  margin-bottom: 10 px;
  box-sizing: border-box;
}

.box2 {
  width: 50%;
  border: solid teal;
  border-width: 5px;
  margin-bottom: 10 px;
  box-sizing: border-box;
}

p {
  color: darkslateblue;

}

li {
  color: forestgreen;
}
img {
  margin:auto;
  width: 20 px;
  display: block;
}

.important{
  color: maroon;
}